{% extends 'base.html.twig' %}

{% block title %}Connexion !{% endblock %}

{% block content %}
    <section class="h-screen">
        <div class="px-6 h-full text-gray-800">
            <div class="flex xl:justify-center lg:justify-between justify-center items-center flex-wrap h-full g-6">
                <div class="grow-0 shrink-1 md:shrink-0 basis-auto xl:w-6/12 lg:w-6/12 md:w-9/12 mb-12 md:mb-0">
                    <img
                        src="{{ asset('build/images/undraw_secure_login_pdn4.svg') }}"
                        class="w-full"
                        alt="Sample image"
                    />
                </div>
                <div class="xl:ml-20 xl:w-5/12 lg:w-5/12 md:w-8/12 mb-12 md:mb-0">
                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <div class="mb-6">
                            <label for="inputUsername">Nom d'utilisateur</label>
                            <input
                                type="text"
                                value="{{ last_username }}"
                                name="username"
                                id="inputUsername" autocomplete="username" required autofocus
                                class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                placeholder="Nom d’utilisateur"
                            />
                        </div>
                        <div class="mb-6">
                            <label for="inputPassword">Mot de passe</label>
                            <input
                                type="password"
                                name="password"
                                id="inputPassword"
                                autocomplete="current-password"
                                required
                                class="form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                placeholder="Password"
                            />
                        </div>

                        {% if app.request.session.get('security_login_failures') >2 %}
                        <div class="mb-3">
                            <label for="inputCaptcha">Captcha</label>
                            <input type="text" name="captcha" id="inputCaptcha" class="form-control" required>
                            <img src="{{ captcha('login') }}" alt="Captcha" />
                        </div>
                        {% endif %}
                        <div class="flex justify-between items-center mb-6">
                            <a href="{{ path('app_forgot_password_request') }}" class="text-gray-800">J’ai oublié mon mot de passe</a>
                        </div>

                        <div class="text-center lg:text-left">
                            <button
                                type="submit"
                                class="mx-auto lg:mx-0 hover:underline font-bold rounded-full mt-4 lg:mt-0 py-4 px-8 shadow opacity-75 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out bg-white text-gray-800"
                            >
                                Connexion
                            </button>
                            <p class="text-sm font-semibold mt-2 pt-1 mb-0">
                                Vous n’avez pas de compte&nbsp;?
                                Contactez-nous&nbsp;!
                            </p>
                        </div>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
