<div{{ attributes }}>
    <label for="form_city">Search for a city</label>
    <input
        id="form_city"
        type="text"
        data-model="query"
        placeholder="City"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    >

    {% if this.cities|length > 0 %}
        <div data-loading="addClass(opacity-50)" class="m-4">
            <ul class="list-disc">
                {% for city in this.cities %}
                <li>
                    <a href="{{ path('app_dashboard_city', {id: city.id}) }}">
                        {{ city.name }}{% if city.zipCode is not null %} ({{ city.zipCode }}){% endif %}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    {% else %}
        {% if not query == '' %}
            <div>No city matches "{{ query }}"</div>
        {% endif %}
    {% endif %}
</div>
